.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Raleway-Light";
  src: url("./fonts//Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts//Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("./fonts//Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-Thin";
  src: url("./fonts//Raleway-Thin.ttf");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchForm {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 5rem;
  width: 30%;
  min-width: 20rem;
  margin: auto;
}

.searchButton {
  width: 5rem;
  margin: auto;
  font-family: "Raleway-Medium";
}
