.body {
  height: 100%;
  color: #455d7a;
}

.App {
  text-align: center;
  background-color: #455d7a;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (min-width: 600px) {
  .songList {
    font-size: 20px !important;
  }
}

@font-face {
  font-family: "Raleway-Light";
  src: url("./fonts//Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts//Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("./fonts//Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-Thin";
  src: url("./fonts//Raleway-Thin.ttf");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchForm {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 5rem;
  width: 50%;
  min-width: 20rem;
  margin: auto;
}

.searchButton {
  width: 3rem;
  margin: auto;
  font-family: "Raleway-Medium";
  font-size: 2rem;
  border: none;
  background-color: #e3e3e3;
  color: #f95959;
  padding: 5px;
  border-radius: 30px;
  margin-top: 1.5rem;
}

.songList {
  list-style-type: none;
  margin: auto;
  font-family: "Raleway-Regular";
  font-size: 4vw;
  width: 80%;
  padding: 0;
}

.songLine {
  display: flex;
  text-align: left;
  align-items: center;
  margin: 8px;
  border: 1px solid #696969;
  padding: 10px;
  border-radius: 7px;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #e3e3e3;
}

.songLine:hover {
  padding: 15px;
}

.coverArt {
  width: 10vw;
  max-width: 4rem;
  padding-right: 1rem;
}

.youMean {
  width: 90%;
  font-family: "Raleway-Medium";
  margin: auto;
  padding: 1rem;
  padding-top: 3rem;
}

.loader {
  margin: auto;
  margin-top: 2.5rem;
}

.recSongLine {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px 17px;
}

.songInfoRec {
  display: flex;
  flex-flow: revert;
  align-items: center;
}

.logo {
  width: 35%;
  min-width: 20rem;
  margin: auto;
}

.searchPageWrapper {
  display: flex;
  flex-flow: column;
  background-color: #455d7a;
  height: 70vh;
}

.searchBar {
  font-family: "Raleway-Medium";
  font-size: 2rem;
  color: #606060;
  border-radius: 7px;
  padding: 5px;
}

.explain {
  font-size: 2rem;
  width: 90%;
  margin: auto;
}

.outlineFont {
  color: #f95959;
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e3e3e3;
  font-family: "Raleway-Medium";
}
